.card-img-top {
  height: 400px;
  object-fit: cover;
}
  
.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  margin: 10px;
}

.more-button {
  font-size: 14px;
}
