.card-img-top {
  height: 500px;
  object-fit: contain;
  padding-top: 2px;
}
  
.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  margin: 10px;
}

.card-title {
  font-size: 18px; 
}

.more-button {
  font-size: 14px;
}
