.navbar {
  height: auto;
  width: 100% !important;
  background: transparent;
}

.navbar-toggler-icon {
  background-color: transparent;
  width: 60px !important;
  height: 60px !important;
  color: azure;
}

.navbar-brand {
  background-color: transparent;
  width: 80px !important;
  height: 80px !important;
  color: azure;
  padding: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 0;

  svg {
    width: 100px;
    height: 100px;
    color: white;

    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      color: rgb(206, 252, 236);
    }
  }
}

.nav-link {
  font-size: 20px !important;
  font-weight: bold !important;

  transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background-color: rgb(5, 0, 43);
      border-radius: 10px;
    }
}
