.navbar {
    height: 80px;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(97, 230, 104, 0.945) !important;
}

.me-auto .btn {
    margin-top: 5px;
    border-radius: 5px;
    background-color: pink !important;
    border: none !important;
}

.me-auto .btn:hover {
    background-color: aqua !important;
    border-radius: 5px;
}

.navbar-title {
    font-size: 40px !important;
    font-weight: bold;
    color: rgb(235, 95, 205) !important;
    margin-top: 5px;
}

.home-link,
.profile-link,
.logout-link {
    color: rgb(82, 100, 236) !important;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold !important;
}

.home-link:hover,
.profile-link:hover,
.logout-link:hover {
    background-color: rgb(206, 252, 0);
    border-radius: 4px;
    padding: 10px;
}
  
.navbar-toggler-icon {
    background-color: white;
}

.navbar-collapse {
    z-index: 9999; 
}

.d-flex {
   margin-top: 5px;
   width: 400px;
}
