.fav-movies {
    margin-bottom: 20px;
    figure {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
        width: 100%;
        img {
            display: block;
            height: 300px;
            margin: auto;
        }
        figcaption {
            text-align: center;
        }
    }
}

button.btn {
    display: block;
    margin: auto;
}

.card {
    margin-bottom: 20px;
}

