.profile-view {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.favorite-movies-col {
    max-height: 600px; 
    overflow-y: auto;
}

.favorite-movies-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    width: 600px;
}

.user-info-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    width: 600px;
}

.profile-form {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: black;
}

.profile-form label {
    font-weight: bold;
}

.profile-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.delete-account-button {
    width: 100%;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.favorite-movies-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.user-info-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.favorite-movies-grid, .favorite-movies-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.movie-card {
    max-width: 100%;
    height: auto;
}

@media (max-width: 968px) {
    .profile-view {
        display: flex !important;
        flex-direction: column !important;
    }

    .favorite-movies-card,
    .user-info-card {
        margin-bottom: 20px;
        width: 100%;
    }
}
