.movie-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .movie-poster {
    max-width: 400px;
    margin:0 auto;
    border: 2px solid white;
    margin-top: 10px;
  }
  
p span:first-of-type {
    font-weight: bold;
    color: rgb(120, 228, 228);
    font-size: 24px;
  }

p span:last-of-type {
    font-weight: bold;
    font-size: 24px;
}
 
.movie-title {
    color: white;
    font-weight: bold;
    font-size:large;
}

.similar-movies-heading {
    margin-top: 50px;
    margin-bottom: 20px;
}

.ms-2 {
   font-size: 18px !important;
   font-weight: bold !important;
   border: 1px solid white !important;
}

p {
    color:white;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.similar-movies-heading {
    margin-left: 50px;
}

.mb-4 {
    margin-left: 100px;
}

.movie-view-back-button {
    float: right;
    margin-right: 200px;
    margin-top: 80px;
    width: 100px;
    font-size: 18px !important;
    font-weight: bold !important;
    border: 1px solid white !important;
}

.favorite-button {
    margin-top: 10px;
    margin-left: 100px;
}