p span:first-of-type {
    font-weight: bold;
  }
 
.movie-title {
    color: darkblue;
    font-weight: bold;
    font-size:large;
}

.movie-poster {
    width: 40%;
    height: auto;
    margin-bottom: 50px;
    display: block;
    margin: 0 auto;
}

.mt-3 {
    float: left;
}

.similar-movies-heading {
    margin-bottom: 20px;
}

.ms-2 {
   float: right;
}