.movie-view {
    background-color: rgb(220, 245, 241);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }

.movie-view span:first-of-type {
    font-weight: bold;
}

.movie-title {
    color: darkblue;
    font-weight: bold;
    font-size:large;
}

.movie-poster img {
    width: 40%;
   height: auto;
   margin-bottom: 20px;
}