@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background: linear-gradient(90deg, rgba(5, 0, 15, 0.85), rgba(58, 140, 255, 0.692));
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
